.topzone
.idea
.project
.DS_Store
*.pub
*.crt
*.tfstate*
*.tfvars
*.bak
*.csv
.terraform*
cluster.*
kubecfg.*
dockerhub
projects
s3_bucket_id
join.sh
config
join-command
get_helm.sh
volumeF.yaml
credentials
jenkins_run.yaml
info
list.txt
es
kafka
data/result
data/*.json

/kubespray
/authorized_keys
tz_rsa*
/kubespray_topzone
*.log
/data2
/pass.txt
*_bak
*_bake
/resources
/kubespray
kubeconfig_tz-k8s-topzone