# Default values for opentelemetry-operator.
# Chart version 0.95.3 - OpenTelemetry Operator Helm chart for Kubernetes
# https://github.com/open-telemetry/opentelemetry-helm-charts/tree/main/charts/opentelemetry-operator

namespaceOverride: ""

replicaCount: 1

revisionHistoryLimit: 10

nameOverride: ""
fullnameOverride: ""

imagePullSecrets: []

clusterDomain: cluster.local

additionalLabels: {}

pdb:
  create: false
  minAvailable: 1
  maxUnavailable: ""

manager:
  image:
    repository: ghcr.io/open-telemetry/opentelemetry-operator/opentelemetry-operator
    tag: ""
    imagePullPolicy: IfNotPresent
  collectorImage:
    repository: ghcr.io/open-telemetry/opentelemetry-collector-releases/opentelemetry-collector-k8s
    tag: 0.134.1
  opampBridgeImage:
    repository: ""
    tag: ""
  targetAllocatorImage:
    repository: ""
    tag: ""
  autoInstrumentationImage:
    java:
      repository: ""
      tag: ""
    nodejs:
      repository: ""
      tag: ""
    python:
      repository: ""
      tag: ""
    dotnet:
      repository: ""
      tag: ""
    apacheHttpd:
      repository: ""
      tag: ""
    go:
      repository: ""
      tag: ""

  autoInstrumentation:
    go:
      enabled: false

  ignoreMissingCollectorCRDs: false
  featureGates: ""
  featureGatesMap: {}

  ports:
    metricsPort: 8080
    webhookPort: 9443
    healthzPort: 8081
  resources: {}

  env:
    ENABLE_WEBHOOKS: "true"

  extraEnvs: []

  serviceAccount:
    create: true
    annotations: {}
    name: ""

  serviceMonitor:
    enabled: false
    extraLabels: {}
    annotations: {}
    metricsEndpoints:
      - port: metrics
    relabelings: []
    metricRelabelings: []

  deploymentAnnotations: {}
  serviceAnnotations: {}

  podAnnotations: {}
  podLabels: {}

  prometheusRule:
    enabled: false
    groups: []
    defaultRules:
      enabled: false
      additionalRuleLabels: {}
      additionalRuleAnnotations: {}
      duration: 5m
    extraLabels: {}
    annotations: {}
    runbookUrl: ""

  createRbacPermissions: false
  extraArgs: []

  leaderElection:
    enabled: true

  verticalPodAutoscaler:
    enabled: false
    controlledResources: []
    maxAllowed: {}
    minAllowed: {}
    updatePolicy:
      updateMode: Auto
      minReplicas: 2
  rolling: false

  securityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault

kubeRBACProxy:
  enabled: true
  image:
    repository: quay.io/brancz/kube-rbac-proxy
    tag: v0.19.1
  ports:
    proxyPort: 8443
  resources: {}
  extraArgs: []
  securityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault

## Admission webhooks - cert-manager 비활성, Helm 자동 생성 인증서 사용
admissionWebhooks:
  create: true
  servicePort: 443
  failurePolicy: Fail
  secretName: ""

  pods:
    failurePolicy: Ignore

  namePrefix: ""
  timeoutSeconds: 10

  namespaceSelector: {}
  objectSelector: {}

  certManager:
    enabled: false
    issuerRef: {}
    certificateAnnotations: {}
    issuerAnnotations: {}
    duration: ""
    renewBefore: ""

  autoGenerateCert:
    enabled: true
    recreate: true
    certPeriodDays: 365

  certFile: ""
  keyFile: ""
  caFile: ""

  serviceAnnotations: {}

  secretAnnotations:
    "helm.sh/hook": "pre-install,pre-upgrade"
    "helm.sh/hook-delete-policy": "before-hook-creation"
  secretLabels: {}

crds:
  create: true

role:
  create: true

clusterRole:
  create: true

affinity: {}
tolerations: []
nodeSelector:
  kubernetes.io/os: linux
topologySpreadConstraints: []
hostNetwork: false

priorityClassName: ""

securityContext:
  runAsGroup: 65532
  runAsNonRoot: true
  runAsUser: 65532
  fsGroup: 65532

automountServiceAccountToken: true

testFramework:
  image:
    repository: busybox
    tag: latest
  securityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault
  resources: {}
